---
layout: page
title: "artificial_intelligence"
description: "每天进步一点点"
header-img: "img/artificial_intelligence.jpg"
multilingual: true
---


<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option> 
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include artificial_intelligence/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include artificial_intelligence/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>


<!-- disqus 评论框 start  -->
{% if site.disqus_username %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
   var disqus_shortname = "{{site.disqus_username}}";	   
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}



				<!--test Gitalk评论start  -->
              
                <!-- <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
                <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
                <div id="gitalk-container"></div>
                
				<script src="/js/md5.min.js"></script>
                <script type="text/javascript">
                    var gitalk = new Gitalk({
                    clientID: '68eab7a4e477a095f0fe',
                    clientSecret: '2d99a84787d60946674b419700c43dda76e6d121',
                    repo: 'chensongpoixs.github.io',
                    owner: 'chensongpoixs',
                    admin: ['chensongpoixs'],
                    distractionFreeMode: true,
                    id: md5(location.pathname),
                    });
                    gitalk.render('gitalk-container');
                </script> --> 
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
	<script src="/js/md5.min.js"></script>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: md5(location.pathname),
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
                <!--test Gitalk end -->
				
				
				
				
<!-- Multi-Lingual -->
{% if page.multilingual %}
<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    // Changes at v1.7.2: change the language flag from hash-basing to in-memory basing
    // due to its confliction with catalog anchors.
    // window.addEventListener('hashchange', _render);

    // handle render
    function _render(_hash){
        var _hash = _hash || window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $en.classList.add("active");
            $zh.style.display = "none";
            $zh.classList.remove("active");
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $zh.classList.add("active");
            $en.style.display = "none";
            $en.classList.remove("active");
        }
        // interop with catalog 
        if ("{{ page.catalog }}") generateCatalog(".catalog-body");
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            _hash = "#zh"
        }else{
            _hash = "#en"
        }
        _render(_hash)
    }

    // init
    _render();
</script>
{% endif %}