<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

<script src="//unpkg.com/docsify/lib/docsify.min.js"></script>
<!-- C++ 代码高亮 -->
<script src="//unpkg.com/prismjs/components/prism-cpp.min.js"></script>
<!-- Java 代码高亮 -->
<script src="//unpkg.com/prismjs/components/prism-java.min.js"></script>
<!-- Python 代码高亮-->
<script src="//unpkg.com/prismjs/components/prism-python.min.js"></script>
<script src="//unpkg.com/prismjs/components/prism-json.min.js"></script>
<!-- 添加代码右上角复制到剪切板按钮 -->
<script src="//cdn.jsdelivr.net/npm/docsify-copy-code@2"></script>
<!-- 支持Markdown中的TaLeX数学公式 -->
<script src="//cdn.jsdelivr.net/npm/docsify-katex@latest/dist/docsify-katex.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/katex@latest/dist/katex.min.css">
<!-- 代码块选项卡 https://jhildenbiddle.github.io/docsify-tabs/#/ -->
<script src="//cdn.jsdelivr.net/npm/docsify@4"></script>
<script src="//cdn.jsdelivr.net/npm/docsify-tabs@1"></script>

<!-- Image to hack wechat -->
<img src="/img/apple-touch-icon.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
